In [1]:
def numbers(x, y):
  if x > y:
    return x/y
  elif x < y:
    return y/x
  else:
    print("no result")
result = numbers(10, 2)
print(result)

5.0

In [42]:
def multiply_numbers(x, y):
  """This function multiplies two numbers and returns the product."""
  return x * y

def subtract_numbers(x, y):
  """This function subtracts two numbers and returns the difference."""
  return x - y

def divide_numbers(x, y):
  """This function divides two numbers and returns the quotient."""
  if y == 0:
    return "Division by zero error!" 
  else:
    return x / y

while True:
  print("Select operation:")
  print("1. Add")
  print("2. Multiply")
  print("3. Subtract")
  print("4. Divide")
  print("5. Exit")

  choice = input("Enter choice(1/2/3/4/5) ")

  if choice in ('1', '2', '3', '4'):
    try:
      num1 = float(input("Enter first number: "))
      num2 = float(input("Enter second number: "))
    except ValueError:
      print("Invalid input. Please enter numbers only.")
      continue

    if choice == '1':
      print(num1, "+", num2, "=", add_numbers(num1, num2))
    elif choice == '2':
      print(num1, "*", num2, "=", multiply_numbers(num1, num2))
    elif choice == '3':
      print(num1, "-", num2, "=", subtract_numbers(num1, num2))
    elif choice == '4':
      print(num1, "/", num2, "=", divide_numbers(num1, num2))
  elif choice == '5':
    break
  else:
    print("Invalid input")

Select operation:
1. Add
2. Multiply
3. Subtract
4. Divide
5. Exit

Enter choice(1/2/3/4/5)  5

In [44]:
int 3.2

SyntaxError: invalid syntax (1890613596.py, line 1)

In [46]:
integer: int 3.2

SyntaxError: invalid syntax (4280435188.py, line 1)

In [48]:
print(4+3)

7

In [52]:
print('4',"+",'3')

4 + 3

In [58]:
first_number = int(input("Enter first number:"))

Enter first number: 6

In [62]:
first_number = input("Enter first number:")

Enter first number: 6.5

In [12]:
student_records = {}
while True:
# Step 2: Input section (can be repeated in a loop)
    name = input("Enter student's name (or press enter to stop): ")
    if not name:
       break
    email = input("Enter email address: ")
    cell = input("Enter cell number: ")
# Step 3: Save to dictionary
    student_records[name] = {
    "Email": email,
    "Cell": cell
    }

# Step 4: Search by name
search_name = input("Enter name to search: ")

if search_name in student_records:
    print("Record found:")
    print("Name:", search_name)
    print("Email:", student_records[search_name]["Email"])
    print("Cell:", student_records[search_name]["Cell"])
else:
    print("No record found for", search_name)

Enter student's name (or press enter to stop):  irfan
Enter email address:  irfan.mustafa@aiou.edu.pk
Enter cell number:  03315061581
Enter student's name (or press enter to stop):
Enter name to search:  irfan

Record found:
Name: irfan
Email: irfan.mustafa@aiou.edu.pk
Cell: 03315061581

In [18]:
str1 = "Irfan"
str2 = "Mustafa"
result = str1 + " " +str2
print(result)

Irfan Mustafa

In [28]:
str1 = "yousuf"
result = str1 *3
print(result)

yousufyousufyousuf

In [30]:
str1 = "Muhammad Yousuf"
print("Yousuf" in str1)

True

In [32]:
print("Muhammad" not in str1)

False

In [34]:
print(len(str1))

15

In [46]:
print(str1[-3])

s

In [50]:
print(str1[0:5:2])

Mhm

In [60]:
print(str1 <=str2)

True

In [56]:
print(str2)

Mustafa

In [66]:
print(ord('C'))

67

In [70]:
print("8>3")

8>3

In [74]:
name = 'Irfan'
age = 42
print("My name is %s nad I am %d years old."% (name, age) )

My name is Irfan nad I am 42 years old.

In [78]:
print('My name is {} and I am {} years old.' .format(name, age))

My name is Irfan and I am 42 years old.

In [80]:
print(f"My name is {name} and I am {age} years old")

My name is Irfan and I am 42 years old

In [88]:
qualification = "PhD"
subject = "Math"
print(f"My name is {name} I am {age} years old and I did {qualification} in Mathematics")

My name is Irfan I am 42 years old and I did PhD in Mathematics

In [90]:
pi

NameError: name 'pi' is not defined

In [98]:
pi = 3.1416
print("%.2f" % pi)

3.14

print("%.3f" % 3.141618)

In [102]:
pi = 3.15146978
print("%.4f" % pi)

3.1515

In [104]:
print("%.2f" %pi)

3.15

In [106]:
print(str1 + " " + str2)

Muhammad Yousuf Mustafa

In [118]:
number = 225
print("%c" %number)

á

In [124]:
print("%r" % srt1)

NameError: name 'srt1' is not defined

In [122]:
print(str1)

Muhammad Yousuf

In [126]:
print(f"{str1!r}")

'Muhammad Yousuf'

In [128]:
print(f"{str2!r}")

'Mustafa'

In [130]:
students = ["Irfan", "Mustafa", "Rizwan", "Farhan"]
print(students[0])

Irfan

In [140]:
students.append("Usman")

In [142]:
print(students)

['Irfan', 'Mustafa', 'Rizwan', 'Farhan', 'Usman']

In [144]:
print(students.remove("usman"))

ValueError: list.remove(x): x not in list

In [150]:
print(students.remove("Usman"))

None

In [152]:
print(students)

['Irfan', 'Mustafa', 'Rizwan', 'Farhan']

In [164]:
print(students.pop())

Farhan

In [174]:
print(students[-])

SyntaxError: invalid syntax (878332716.py, line 1)

In [176]:
print(students)

['Irfan', 'Mustafa', 'Rizwan']

In [178]:
print(students.remove[-1])

TypeError: 'builtin_function_or_method' object is not subscriptable